*.pyc
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BrownlowPredictorPlus.iml

.vscode/extensions.json

*data/
future data/
*models/tmp_models/
*presentables/raw_predicted_scores/
presentables/2024_simulated_games.json
